<!DOCTYPE html>
<html>
    <head>
      {{>title}}
      {{>icon}}
      <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>This web site was created by Saurav Jha.</p>
             <img class="portrait" src="/images/my-image.jpeg">
        </div>
         {{>footer}}
    </body>
</html>