<!DOCTYPE html>
<html>
    <head>
        {{>title}}
        {{>icon}}
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
        </div>
        <p>{{message}}</p>
         {{>footer}}
    </body>
</html>
