<!DOCTYPE html>
<html>
    <head>
        {{>title}}
        {{>icon}}
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <form>
            <input placeholder="Location">
            <button>search</button>
        </form>
        <p id="message-forcast"></p>
        <p id="message-location"></p>
        </div>
        {{>footer}}
         <script src="/js/app.js"></script>
    </body>
</html>